.navbar{
    display: flex;
    width: 100%;
}
.navbar1{
    flex: 22;
    padding-top: 20px;

}
.navbar2{
    flex: 2;
}
.profile{
      
    height: 60px;
    width: 400px;
    padding-right: 200px;
}