.head{
    background-color:#36b3e3;
    padding:15px;
    overflow: hidden;
}
.flogo{
    padding-top: 10px;
    justify-content: center;
    display: flex;
}
.fbox{
    text-align: center;
    justify-content: center;  
    display: flex;
    padding: 10px 150px 20px 150px; }
    
.fbox2{
        display: flex;
        justify-content: center;
        height: 450px;
        width: 35%;
        padding-top: 30px;
        border-radius: 20px;
        background-color:#36b3e3;
    
    }
.content{
    text-align: left;
    padding-top: 10px;
}
.username1{
    padding-top: 10px;
}
